.title2
{
    margin-top:20px;
    margin-bottom: 20px;
    background-color: dimgrey;
    color:white;
}
.Description{
    margin-bottom:10px;
}
.Description label{
    margin-right: 10px;
    margin-left: 10px;
}
.Description .ui input{
    width:250px;
    height:30px;
}
#labeltile{
    margin-right: 55px;
}
