.title2
{
    margin-top:20px;
    margin-bottom: 20px;
    background-color: #4e5d6c;
    color:white;
}
.Description{
    margin-bottom:10px;
}
.Description label{
    margin-right: 10px;
    margin-left: 10px;
}
.Description .ui input{
    width:250px;
    height:30px;
}
#labeltile{
    margin-right: 50px;
}
#Titleinput:hover{
    border-color:crimson
}
#Descriinput:hover{
    border-color:crimson
}
#Dateinput:hover{
    border-color:crimson
}
