.Task{
    color: white;
    background-color: #2b3e50;
}
.ListTile{
    text-align: center
}

#Searchlabel{
    
    margin-right:10px
}
.Search{
    text-align: center;
}
#Searchinput:hover{
    border-color: crimson;
}